@model List<MovieCDto>
@{
    ViewData["Title"] = "Index";
}
@section addcss{
   
    <style>
        #toast-container {
            margin-top: 60px;
        }
    </style>
}

<div class="row" style="display:flex; align-items:center; justify-content:center;">
    <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12" style="margin-top:75px; margin-left:190px">
        <div class="sparkline8-list">
            <div class="sparkline8-hd">
                <div class="main-sparkline8-hd text-white">
                    <h1 style="color:white; display:flex; align-items:center; justify-content:center; font-size:50px;">Movies</h1>
                    <div style="float:right">
                        <a asp-action="Create" class="btn btn-custon-four btn-primary">Creat Movie</a>
                    </div>
                </div>
            </div>
            <div class="sparkline8-graph">
                <div class="static-table-list">
                    <table class="table ">
                        <thead>
                            <tr style="color:white; font-size:19px;">
                                <th>Video</th>
                                <th>Trailer</th>
                                <th>Id</th>
                                <th>Top 5</th>
                                <th>New</th>
                                <th style="display:flex; text-align:center; justify-content:center;">Details || Update || Delete </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="color:white;">
                                    <td class="img-fluid">

                                        <video width="90" height="50" controls>
                                            <source src="~/@item.MovieVideo" type="video/mp4">

                                        </video>
                                    </td>
                                    <td class="img-fluid">
                                         <video width="90" height="50" controls>
                                            <source src="~/@item.Trailer" type="video/mp4">

                                        </video>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Top</td>
                                    <td>@item.isneww</td>
     
                                    <td style="display:flex; text-align:center; justify-content:center;">
                                        <a type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id" style="margin-right:8px;">
                                            <i class="fa-solid fa-info"></i>
                                            Details
                                        </a>
                                        <a class="btn btn-custon-four" asp-action="Edit" asp-route-id="@item.Id" style="margin-right:8px; background-color:#2bee75; color:white;">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Update
                                        </a>
                                        <a class="btn btn-custon-four btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-trash-can"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @if (TempData["success"] != null)
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            toastr.success('@TempData["success"]')
        </script>

    }

}